:root {
    --c-bg: rgb(50, 50, 50);
    --c-border: #999;
    --c-font: #ddd;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: var(--c-bg);
}

button {
    color: var(--c-font);
    background-color: var(--c-bg);
    border: none;
}

ol,
ul {
    padding-left: 30px;
}

ol button {
    cursor: pointer;
}

li:hover{
    transform: scale(1.2);
    color: red;
}
li:hover button{
    color: red;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: var(--c-bg);
    border: 1px solid var(--c-border);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: var(--c-font);
}

.game {
    color: var(--c-font);
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}